/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
a:hover, button:hover {
  cursor: pointer;
}
input[type="checkbox"] {
  width: 16px!important;
  margin: auto;
}
.row {
  display: flex;
}
:root {
	--poppins: 'Poppins', sans-serif;
	--blue: #2e4b81;
  --color-text: rgb(2, 22, 58);
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 240px;
    background: var(--blue);
    z-index: 100;
    transition: all 0.5s ease;
  }
  .sidebar.close{
    width: 60px;
  }
  .sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details i{
    min-width: 60px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details i img {
    height: 45px;
    width: 45px;
  }
  .sidebar h1.logo {
    font-size: 50px;
    color: white;
    padding: 7px;
    padding-left: 12px;
    z-index: 100!important;
  }
  .sidebar .logo-details .logo_name{
    font-size: 27px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 20px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block;
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 17px;
    font-weight: 300;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 50px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 60px;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name{
    width: 100%;
  }
  .sidebar .profile-details .profile_name a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    width: 100%;
    margin-left: 45%;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .dashboard {
    color: #dbdcdd;
  }
.notify {
  position: relative;
  margin-right: 15px;
}
.profile-details .notify .notification {
  font-size: 20px;
  position: relative;
}
.profile-details .notify .notification i {
  color:rgb(219, 219, 219);
}
.profile-details .notify .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  background: red;
  color: white;
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notify .section-dropdown {
  position: absolute;
  background-color: white;
  top: 45px;
  right: -32px;
  width: 350px;
  max-height: 400px;
  border-radius: 2px;
  border: 1px solid rgb(221, 219, 219);
  display: block;
  box-shadow: 0 14px 35px 0 rgba(138, 138, 240, 0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.notify .section-dropdown .top{
  color: rgb(172, 169, 169);
  padding: 7px;
  font-size: 15px;
  border-bottom: 1px solid rgb(221, 219, 219);
}
.notify .section-dropdown .bottom {
  text-align: center;
  color:rgb(67, 67, 68);
  font-size: 15px;
  padding: 7px;
}

.notify .dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.notify .section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.notify .section-dropdown:after {
  position: absolute;
  top: -10px;
  right: 25px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  border-bottom: 10px solid white;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.notify .section-dropdown > a {
  position: relative;
  color: rgb(39, 38, 38);
  transition: all 150ms linear;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  border-bottom: 1px solid #c4c5c7;
  text-align: left;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(195, 208, 230);
}
.notify .section-dropdown > a i {
  color: #505152;
}
.notify .section-dropdown > a:hover {
  background-color: #dddddb;
}

.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 70px;
  background: var(--blue);
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.home-section nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--blue);
}
.sidebar.close ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
} 

.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color:rgb(218, 219, 221);
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  color:#dadbdb;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details [type="checkbox"]:checked,
nav .profile-details [type="checkbox"]:not(:checked){
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: rgb(221, 218, 218);
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details .admin_name > i {
  font-size: 23px;
  color: rgb(221, 218, 218);
}

.home-section .home-content{
  position: relative;
  padding-top: 70px;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 60px;
  }
  .home-section{
    width: calc(100% - 240px);
    left: 240px;
  }
  .sidebar.close ~ .home-section{
    overflow: hidden;
    left: 60px;
  }
  .home-section nav{
    width: calc(100% - 240px);
    left: 240px;
  }
  .sidebar.close ~ .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  nav .sidebar-button .dashboard {
    font-size: 22px;
  }
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
  .sidebar.close ~ .home-section {
    left: 0px!important;
    width: 100%;
  }
  .sidebar.close ~ .home-section nav::before {
    width: 0px;
    height: 0px;
  }
  .sidebar.close ~ .home-section nav {
    left: 0px;
    width: 100%;
  }
  .close {
    display: none;
  }

}
@media (max-width: 850px) {
  .sidebar {
    width: 100%;
  }
  .sidebar .nav-links li div {
    width: 245px;
    margin: auto;
  }
  .sidebar .profile-details {
    width: 100%!important;
  }
  .sidebar .nav-links li .sub-menu a{ 
    width: 37%;
    margin: auto;
  }
  nav .profile-details .admin_name{
    display: none;
  }
  nav .sidebar-button .dashboard {
    font-size: 21px;
  }
  nav .profile-details {
    min-width: 40px!important;
  }
}

@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 600px) {
  nav .profile-details .notify {
    display: none;
  }
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.close ~ .home-section nav .profile-details{
    display: none;
  }
}
