* {
  color:rgb(59, 54, 54);
}
p {
  font-family: sans-serif;
}
canvas {
  max-width: 100%;
}
.dataEntry {
    position: relative;
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
  }
  .dataEntry .lineChart {
    position: relative;
    display: block;
    width: 98%;
    border: 1px solid #dddddd;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
    }
  .dataEntry .lineChart canvas {
    position: relative;
    display: block;
    max-width: 95%;
    min-width: 94%;
    margin: auto;
    }
   .dataEntry div.barChart {
     position: relative;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    }
   .dataEntry div.barChart > div {
    position: relative;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid #dddddd;
    flex: 1;
    padding: 30px;
    background-color: rgb(253, 251, 251);
    }
  .provinceChart {
    background-color: #d7deec;
    border-radius: 10px;
    border: 1px solid #bbbec4;
    margin-top: 30px;
  }
  .provinceChart p {
    padding: 20px;
    font-size: 23px;
  }
  .provinceChart form {
    margin-left: 20px;
  }
  .provinceChart form select {
    background-color: rgb(248, 244, 244);
    border: 1px solid #8991ad;
    border-radius: 3px;
    text-indent: 5px;
    font-family: sans-serif;
  }
  .provinceChart form .btn {
    margin-left: 10px;
  }
  .provinceChart form .btn button {
    border: 1px solid #374681;
    background-color: #30347c;
    color: rgb(231, 229, 229);
  }
  .provinceChart form .btn button i {
    color: rgb(231, 229, 229);
  }
  .provinceChart form .btn button:hover {
    font-size: 15px;
  }
  @media screen and (max-width: 2000px) {
    .home-content > p {
      font-size: 27px;
      padding: 3%;
      font-weight: 550;
      padding-bottom: 0;
    }
    .chart:first-child p {
      font-size: 23px;
      padding: 2.5% 0 0 2.5%;
    }
    .chart p {
      font-size: 20px;
    }
    .provinceChart .prvChart p{
      padding: 20px;
      font-size: 18px;
      padding-bottom: 0;
    }
    .provinceChart .prvChart span {
      font-size: 15px;
      padding-left: 20px;
    }
    .provinceChart form select {
      width: 250px;
      font-size: 16px;
      outline: none;
    }
    .provinceChart form .btn button {
      height: 37px;
      width: 110px;
      font-size: 16px;
      border-radius: 10px 10px 10px 0;
    }
    .dataEntry div.barChart {
      display: flex;
    }
    .dataEntry div.barChart > div canvas {
      margin: 20px 0;
    }
    .dataEntry .provinceChart .prvChart{
      display: flex;
    }
    .provinceChart .prvChart div:first-child{
      flex: 3;
    }
    .provinceChart .prvChart div:last-child{
      flex: 1;
    }
    .provinceChart .prvChart div:last-child canvas{
      max-width: 100%; 
      margin-top: 20%;
    }
  } 
  @media screen and (max-width: 1150px) {
    .dataEntry .provinceChart .prvChart div:first-child{
      flex: 5;
    }
    .dataEntry .provinceChart .prvChart div:last-child{
      flex: 2;
    }
  }
  @media screen and (max-width: 1050px) {
    .province-box {
      width: 95%;
      margin: auto;
    }
    .provinceChart .prvChart p{
      font-size: 17px;
    }
    .provinceChart .prvChart span {
      font-size: 14px;
    }
    .province_list div.table {
      overflow-x:auto;
    }
    .dataEntry .provinceChart .prvChart div:first-child{
      flex: 9;
    }
    .dataEntry .provinceChart .prvChart div:last-child{
      flex: 4;
    }
  }
  
  @media screen and (max-width: 900px) {
    .chart:first-child p {
      font-size: 21px;
    }
    .chart p {
      font-size: 19px;
    }
    .provinceChart form select {
      width: 240px;
      height: 34px;
    }
    .provinceChart form .btn button {
      height: 35px;
      width: 105px;
      border-radius: 9px 9px 9px 0;
    }
    .dataEntry div.barChart {
      display: block;
    }
    .dataEntry .barChart div {
      display: block;
    }
    .dataEntry div.barChart > div canvas {
      max-height: 250px;
      margin: 10px 0;
    }
    .dataEntry .provinceChart .prvChart{
      display: block;
    }
    .dataEntry .provinceChart .prvChart div{
      display: block;
    }
    .dataEntry .provinceChart .prvChart div:last-child {
      width: 50%;
      margin: auto;
    }
    .dataEntry .provinceChart .prvChart div:last-child canvas {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 600px) {
    .home-content > p {
      font-size: 25px;
      text-align: center;
    }
    .chart:first-child p {
      font-size: 19px;
    }
    .chart p {
      font-size: 17px;
    }
    .provinceChart .prvChart p{
      font-size: 16px;
    }
    .provinceChart .prvChart span {
      font-size: 13px;
    }
    .provinceChart form select {
      width: 235px;
      height: 33px;
      font-size: 15px;
    }
    .provinceChart form .btn button {
      height: 34px;
      width: 95px;
      font-size: 15px;
      border-radius: 8px 8px 8px 0;
    }
    .dataEntry .provinceChart .prvChart div:last-child {
      width: 65%;
    }
  }
  